<div class="wrapper">

    <div class="logIninitialpg">


        <h2 class="title">Creacion de un Nuevo Usuario</h2>



        <form (ngSubmit)="registrar2()" [formGroup]="registrarUsuario">

            <div class="textlog">
                <img style="margin-left:30px ; margin-bottom: 10px;" src="../../../assets/img/6C5T.gif ">

                <div class="mb-3">

                    <label for="exampleInputEmail1" class="form-label">Correo Electronico</label>
                    <input type="email" placeholder="@example.com" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div style="color: aliceblue;" class="form-text">No debes compartir el correo con Extraños.</div>
                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                    <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1">
                </div>




                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Repetir Contraseña</label>
                    <input type="password" formControlName="repetirPassword" class="form-control" id="exampleInputPassword1">
                </div>


            </div>
            <div class="textlog1">

                <h2 style="margin-bottom: 10px;">Datos Personales: </h2>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Nombre</label>
                    <input type="text" formControlName="Nombre" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Telefono</label>
                    <input type="text" formControlName="Telefono" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Edad</label>
                    <input type="text" formControlName="Edad" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">VideoJuego Favorito</label>
                    <input type="text" formControlName="videojuegoFav" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">URLPerfil</label>
                    <input type="text" formControlName="urlfotoperfil" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <a routerLink="/login" style="color: aliceblue;  ">
                    <ion-icon ios="ios-arrow-back" md="md-arrow-back" class="icontext"></ion-icon>Atras</a>

                <button type="submit" style="background-color: rgb(46, 163, 192); margin-left: 175px; " class="btn btn-primary"> Registrarse <ion-icon ios="ios-person-add" md="md-person-add" class="icontext"></ion-icon> </button>



            </div>


        </form>


        <app-spinner *ngIf="loading"></app-spinner>




    </div>




</div>