<div class="wrapper">
    <div class="logInbk">
        <br>
        <img height="200" style="margin-left: 27%;" src="../../../assets/img/register.png">
        <br>

        <h2 class="textlog">Creacion de un Nuevo Usuario</h2>
        <div class="textlog">
            <form (ngSubmit)="registrar()" [formGroup]="registrarUsuario">
                <div class="mb-3">

                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div style="color: aliceblue;" class="form-text">No debes compartir el correo con Extraños.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" formControlName="repetirPassword" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Registrarse</button>
            </form>
        </div>

    </div>
</div>