<nav class="navRetro">

    <img class="iconGif" src="https://66.media.tumblr.com/dcac66d94aa91c9706a3166c7944dcd5/tumblr_mm31jswkAI1rfjowdo1_640.gif">
    <h1 class="textnav">RetroGames</h1>



    <a href=""><button class="MapBtn">Informacion</button></a>

</nav>

<div class="navigator">

    <img src="https://i.pinimg.com/originals/51/5a/8d/515a8da287ae3d77dfbf851515c63734.gif">


    <div>

        <ul style="list-style: none;" class="textnav2">
            <li>
                <a class="a2" routerLink="/home">
                    <i class="fas"></i>
                    <span>  <ion-icon ios="ios-home" md="md-home"></ion-icon> Home</span>
                </a>
            </li>
            <li>
                <a class="a2" href="">
                    <i class="fas"></i>
                    <span><ion-icon ios="logo-reddit" md="logo-reddit"></ion-icon>New VideoGames</span>
                </a>
            </li>
            <li>
                <a class="a2" href="">
                    <i class="fas"></i>
                    <span> <ion-icon ios="logo-freebsd-devil" md="logo-freebsd-devil"></ion-icon>RetroVideoGames</span>
                </a>
            </li>
            <li>
                <a class="a2" href="">
                    <i class="fas"></i>
                    <span> <ion-icon ios="ios-locate" md="md-locate"></ion-icon>GoogleMaps</span>
                </a>
            </li>
            <li>
                <a class="a2" routerLink="/informacion">
                    <i class="fas"></i>
                    <span> <ion-icon ios="ios-locate" md="md-locate"></ion-icon>Informacion</span>
                </a>
            </li>
            <li>
                <a class="a2" routerLink="/login">
                    <i class="fas"></i>
                    <span> <ion-icon ios="ios-locate" md="md-locate"></ion-icon>Log Out</span>
                </a>
            </li>
        </ul>


    </div>


</div>