.background1 {
    height: 100%;
    width: 100%;
    background-image: url("https://images.hdqwalls.com/download/sherift-retro-road-4k-06-1366x768.jpg");
    background-position: center;
    background-size: cover;
}