<div class="background1">

    <app-dashboard>
    </app-dashboard>

    <div class="InitialPag">



        <div class="divimg">

            <div class="divimg2">

                <div class="card text-bg-dark">
                    <img src="https://images.wikidexcdn.net/mwuploads/esssbwiki/d/d0/latest/20130405044923/Car%C3%A1tula_de_Donkey_Kong_Country.jpg" class="card-img" alt="..." width="600" height="316">
                    <div class="card-img-overlay">
                        <h3 class="Textimg">DonkeyKong Country</h3>
                        <p class="card-bodyinfo2">Donkey Kong Country es un juego de plataformas de 1994 desarrollado por Rare y publicado por Nintendo para Super Nintendo Entertainment System (SNES).</p>

                    </div>
                </div>

            </div>
        </div>




        <div class="divinfo">

            <div class="divimgInfo"></div>

            <h1 class="TextDivInfo1"> Bienvenido a RetroGames!</h1>

            <h2 class="TextDivInfo2">Sobre Nosotros:</h2>

            <h3 class="TextDivInfo3"> A que se dedica RetroGames?</h3>

            <p class="TextDivInfo4">¡Bienvenidos a nuestra página web de videojuegos! Aquí encontrarás todo lo relacionado con el mundo de los videojuegos, desde reseñas de los últimos lanzamientos hasta consejos y trucos para tus juegos favoritos. Además, también ofrecemos
                noticias de la industria y entrevistas con desarrolladores de juegos. Nuestra página web es el lugar perfecto para los amantes de los videojuegos que buscan estar al día con las últimas novedades y tendencias del mundo de los juegos. Además,
                también podrás encontrar comunidad y conectarte con otros jugadores de todo el mundo a través de nuestros foros de discusión y grupos de chat. Ya seas un jugador experimentado o un novato que está empezando a explorar el mundo de los videojuegos,
                ¡estamos aquí para ayudarte! Así que no dudes en navegar por nuestra página web y explorar todo lo que tenemos para ofrecer. ¡Que comience la diversión!</p>

            <div style="margin-left: 80px;">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="Cardinfo">

                            <div class="card-bodyinfo">

                                <h3>GameRetro!</h3>
                                <p>Recomendamos a los Gamers de la vieja escuela darle un ojo al Foro GameRetro!.</p>
                                <a href="#" class="btn btn-primary">Enviame enseguida!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="Cardinfo2">

                            <div class="card-bodyinfo">

                                <h3>Noticias Nuevas!</h3>
                                <p>Enterate de lo ultimo en videoJuegos!.</p>
                                <a href="#" class="btn btn-primary">Enviame enseguida!</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>


    </div>

</div>