<div class="background1">

    <app-dashboard></app-dashboard>

    <div class="InitialPag">

        <div class="container mt-5 ">
            <div class="row">


                <div class="card-body text-center ">

                    <span class="titulo">
                              Lista De Video Juegos Retro
                           </span>

                    <button routerLink="/agregar-video-juego" class="btn btn-success float-end">VideoJuego Nuevo</button>


                    <div class="card mt-5" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>


</div>