<div class="wrapper">
    <div class="logInbk">
        <br>
        <br>
        <img height="200" style="margin-left: 30%;" src="../../../assets/img/folder.png">
        <br>
        <br>


        <h2 class="textlog">Recuperar Contraseña</h2>
        <div class="textlog">
            <form (ngSubmit)="reset()" [formGroup]="recuperarUsuario">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Ingresa el Correo Electronico</label>
                    <input formControlName="email" type="email" class="form-control">
                    <div style="color: aliceblue;" class="form-text">No debes compartir el correo con Extraños.</div>
                </div>
                <button type="submit" class="btn btn-primary"> <ion-icon ios="ios-send" md="md-send" class="icontext"></ion-icon>Enviar Email</button>
            </form>
        </div>

        <a routerLink="/login" class="textLink">
            <ion-icon ios="ios-arrow-back" md="md-arrow-back" class="icontext"></ion-icon>Atras</a>

    </div>
</div>