<div class="wrapper">
    <div class="logInbk">
        <br>
        <img height="200" style="margin-left: 27%;" src="../../../assets/img/entrada.png">
        <br>
        <br>


        <h2 class="textlog">Recuperar Contraseña</h2>
        <div class="textlog">
            <form (ngSubmit)="reset()" [formGroup]="recuperarUsuario">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Ingresa el Correo Electronico</label>
                    <input formControlName="email" type="email" class="form-control">
                    <div style="color: aliceblue;" class="form-text">No debes compartir el correo con Extraños.</div>
                </div>
                <button type="submit" class="btn btn-primary">Enviar Email</button>
            </form>
        </div>

    </div>
</div>